<main>
    <section class="contacts">
        <div class="title">
            <h1>CONTACT ME</h1>
            <div class="center-line"></div>
        </div>
        <div class="content">
            <h4>Get in Touch</h4>
            <ul>
                <li>
                    <div class="icon"><i class="fa fa-map-marker"></i></div>
                    <div>
                        Nigeria (Available for Remote Jobs and Relocation)
                    </div>
                </li>
                <li>
                    <div class="icon"><i class="fa fa-envelope"></i></div>
                    <div>omamode.joseph@gmail.com</div>
                </li>
                <li>
                    <div class="icon"><i class="fa fa-phone"></i></div>
                    <div>(+234) 812 119 3434</div>
                </li>
                <li>
                    <div class="icon"><i class="fa fa-facebook"></i></div>
                    <div>Joseph Omamode (Israel)</div>
                </li>
                <li>
                    <div class="icon"><i class="fa fa-whatsapp"></i></div>
                    <div>(+234) 906 094 3924</div>
                </li>
            </ul>
        </div>
    </section>
</main>
