<main>
    <section class="hire">
        <div class="title">
            <h1>HIRE ME</h1>
            <div class="center-line"></div>
        </div>
        <div class="content">
            <div>Hiring me means having a valuable resource that can help bring your projects or web ideas to life.
I am mostly skilled in backend web development where I enjoy cracking my brain to design algorithms and solve problems. You can hire me as a backend developer, Core PHP developer, PHP Laravel Developer, Full Stack developer, etc. I am focused , committed and enjoys writing clean codes. <strong>Get in touch with me using any of the following</strong
                >,
            </div>
            <ul>
                <li>
                    <div class="icon"><i class="fa fa-map-marker"></i></div>
                    <div>
                        Nigeria (Available for Remote Jobs and Relocation)
                    </div>
                </li>
                <li>
                    <div class="icon"><i class="fa fa-envelope"></i></div>
                    <div>omamode.joseph@gmail.com</div>
                </li>
                <li>
                    <div class="icon"><i class="fa fa-phone"></i></div>
                    <div>(+234) 812 119 3434</div>
                </li>
                <li>
                    <div class="icon"><i class="fa fa-facebook"></i></div>
                    <div>Joseph Omamode (Israel)</div>
                </li>
                <li>
                    <div class="icon"><i class="fa fa-whatsapp"></i></div>
                    <div>(+234) 906 094 3924</div>
                </li>
            </ul>
        </div>
    </section>
</main>
