<canvas id="snow-canvas"></canvas>
<header id="header">
    <div class="content">
        <h3>Professional and Dedicated Web Developer</h3>
        <div class="line-bottom"></div>
        <div class="intro">
            <div class="i-am">Hello, I am</div>
            <h1>Joseph O. Israel</h1>
            <div class="brief">
                <span class="bi bi-dot"></span>
                <div class="text"></div>
                &nbsp;
                <div class="blink"></div>
            </div>
            <ul class="social">
                <li>
                    <a href="https://www.facebook.com/joseph.omamode.9"
                        ><i class="fa fa-facebook"></i
                    ></a>
                </li>
                <li>
                    <a href="https://github.com/devomamode"
                        ><i class="fa fa-github"></i
                    ></a>
                </li>
                <li>
                    <a
                        href="https://api.whatsapp.com/send?phone=+2349060943924&text=Hello DevOmamode"
                        ><i class="fa fa-whatsapp"></i
                    ></a>
                </li>
            </ul>
        </div>
        <div class="d-links">
            <a
                href="#!hire"
                class="abutton primary"
                >Hire Me</a
            >&nbsp;<a
                href="#!projects"
                class="abutton secondary"
                >&rarr; Projects</a
            >
        </div>
    </div>
</header>
