<main>
    <section
        id="pj"
        class="projects"
    >
        <div class="title">
            <h1>My Projects</h1>
            <div class="center-line"></div>
        </div>
        <div class="content">
            <ul class="row">
                <li class="item">
                    <div class="image-container">
                        <img src="assets/images/Veel.png" />
                        <div class="project-category">PHP</div>
                    </div>
                    <h2 class="item-title">Veel.tv</h2>
                    <div class="item-desc">
                        Veel.tv is an online video streaming platform built in
                        partnership with an Zimbabwean brother based in
                        Australia. The platform aimed to provide optimum video
                        streaming experience to users. I was mostly responsible
                        for its API development, backend testing and ensuring
                        the security of the PHP and SQL queries.
                    </div>
                    <div class="view-link">
                        <a
                            class="abutton"
                            href="https://veel.tv"
                            >Demo</a
                        >
                    </div>
                </li>
                <li class="item">
                    <div class="image-container">
                        <img src="assets/images/seamlessaudit.png" />
                        <div class="project-category">PHP Laravel</div>
                    </div>
                    <h2 class="item-title">seamlessAudit</h2>
                    <div class="item-desc">
                        seamlessAudit is an audit management system built for a
                        top Nigerian commercial bank. This system aimed to
                        streamline audit planning, management and monitoring
                        ensuring auditors were more productive. The languages
                        used were HTML, CSS, JavaScript, Bootstrap, JQuery, PHP
                        Laravel, MYSQL.
                    </div>
                    <div class="view-link"><a class="abutton">Demo</a></div>
                </li>
                <li class="item">
                    <div class="image-container">
                        <img src="assets/images/ittyurl.png" />
                        <div class="project-category">PHP</div>
                    </div>
                    <h2 class="item-title">ittyURL</h2>
                    <div class="item-desc">
                        ittyURL is a URL shortening service that enables
                        anonymous link creation, QR code generation, link
                        analytics, etc. The languages used were HTML, CSS,
                        JavaScript, PHP, MYSQL and a couple other frontend
                        libraries.
                    </div>
                    <div class="view-link">
                        <a
                            class="abutton"
                            href="https://ittyurl.com"
                            >Demo</a
                        >
                    </div>
                </li>
                <li class="item">
                    <div class="image-container">
                        <img src="assets/images/kondle.png" />
                        <div class="project-category">PHP Laravel</div>
                    </div>
                    <h2 class="item-title">Kondle Press</h2>
                    <div class="item-desc">
                        Kondle Press was a content management system that
                        enabled multi-user registration and sharing of content
                        (free, premium and password protected). In other words,
                        Kondle was a blogging CMS that enabled users to share
                        posts, images, videos, co - author contents and define
                        access categories (public, private and paid content).
                    </div>
                    <div class="view-link"><a class="abutton">Demo</a></div>
                </li>
                <li class="item">
                    <div class="image-container">
                        <img src="assets/images/countme.jpg" />
                        <div class="project-category">PHP Laravel</div>
                    </div>
                    <h2 class="item-title">voteMe</h2>
                    <div class="item-desc">
                        voteMe was an electronic voting system I originally
                        built for a client for use in the accountancy department
                        of a well-known Federal University (name withheld) in
                        Nigeria. It has a lot of amazing features that
                        differentiates it from its kinds and uniquely set it
                        ahead. It was built with PHP Laravel/MySQL.
                    </div>
                    <div class="view-link"><a class="abutton">Demo</a></div>
                </li>
                <li class="item">
                    <div class="image-container">
                        <img src="assets/images/atm.jpg" />
                        <div class="project-category">HTML, CSS, JS</div>
                    </div>
                    <h2 class="item-title">ATM Machine Simulator</h2>
                    <div class="item-desc">
                        This fun project was inspired by an ATM machine code I
                        wrote in my earlier days learning Java programming and
                        was meant to as much as possible bring out an ATM
                        machine simulator in HTML, CSS and JS. Thus, its'
                        outcome demonstrates my ability to creating realistic
                        designs and as well as writing program logic. No doubt,
                        this is one of the best HTML/CSS/JS ATM machine
                        simulators out there.
                    </div>
                    <div class="view-link">
                        <a
                            class="abutton"
                            href="https://devomamode.github.io/atm-simulator"
                            >Demo</a
                        >
                    </div>
                </li>
                <li class="item">
                    <div class="image-container">
                        <img src="assets/images/twichat.jpg" />
                        <div class="project-category">
                            NodeJS, ExpressJs, MySQL
                        </div>
                    </div>
                    <h2 class="item-title">TwiChat</h2>
                    <div class="item-desc">
                        TwiChat is a realtime chat application I built using
                        MYSQL, Express and NodeJS (MEN). It had the ability to
                        facilitate realtime communication between two
                        individuals by delivering and updating on received
                        messages realtime as well as updating on the status of
                        sent messages (sent, delivered, seen) and receiver
                        status realtime. But unfortunately, this was a fun
                        practice project.
                    </div>
                    <div class="view-link"><a class="abutton">Demo</a></div>
                </li>
            </ul>
        </div>
    </section>
</main>
