<main>
    <section
        id="sk"
        class="skills"
    >
        <div class="title">
            <h1>MY SKILLS</h1>
            <div class="center-line"></div>
        </div>
        <div class="content">
            <ul>
                <li
                    class="item"
                    ng-repeat="x in skills"
                >
                    <div class="image">
                        <img src="assets/images/langs/{{x[1]}}" />
                    </div>
                    <div class="text">{{x[0]}}</div>
                </li>
            </ul>
        </div>
    </section>
</main>
